doctype html
html(class='no-js',lang='en')
  head
    meta(httpEquiv='X-UA-Compatible',content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Critical Site Explorer
    link(rel='stylesheet',href='css/bootstrap.css')
    link(rel='stylesheet',href='css/app.css')
  body 
    #app!= content
    script(src='js/browserify/bundle.js')
     